<section class="site-section about-section text-center" id="about">
  <header class="section-header">
    <h2>
      About
    </h2>
  </header>
  <div class="section-content">
    <blockquote cite="{{ site.url }}">
      <p>
        This website is the home of Lisa's and Ray's social media endeavors.
      </p>
      <p>
        Currently, the main purpose of this page is to provide contact information and links to their social media accounts.</b>
      </p>
    </blockquote>
  </div>
</section>