/**
 *  Link Tree (ltree) Section Style
 **/

body.ltree-body {
  background-color: $color-light-bg;
}

.ltree-section {
  padding: 1em;

  .profile-header {
    padding-bottom: 1rem;
    img {
      width: 10rem;
      height: 10rem;
      border-style: ridge;
    }
    h1 {
      color: $color-white;
      text-shadow: 2px 2px 2px $color-black;
    }
  }

  .ltree-buttons {
    width: 90%;

    .btn {
      --bs-btn-hover-bg: #FFFFDD;
      img {
        width: auto;
        height: 2.0rem;
        padding-right: 0.25rem;
      }
    }  
  }
}